{% extends "frontend_base.html" %}
{% load staticfiles %}

{% block title %}Expenses{% endblock %}

{% block page_css %}
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="{% static "assets/plugins/gritter/css/jquery.gritter.css"%}" rel="stylesheet" />
    <link href="{% static "assets/plugins/DataTables/css/data-table.css"%}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock %}

{% block sidebar %}
  {% include "common/sidebar.html" with menu="accounts" submenu="expenses" %}
{% endblock %}

{% block breadcrumbs %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li><a href="javascript:;">Accounts</a></li>
    <li class="active">Expenses</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Expenses</h1>
<!-- end page-header -->
{% endblock %}

{% block contents %}
    <!-- begin row -->
    <div class="row">
       <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a class="accordion-toggle accordion-toggle-styled" href="javascript:;" id="btn-add-exp">
                              <button type="button" class="btn btn-xs btn-inverse"><i class="fa fa-plus"></i> New Transaction</button>
                        </a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                    <h4 class="panel-title">All Transaction</h4>
                </div>
                <div class="panel-body">
                    <table id="exp-data" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Purpose</th>
                                <th>Date</th>
                                <th>By User</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="exp-modal">
        <div class="modal-dialog" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title add-label">Add New Transaction</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="exp-form">
                    <fieldset>
                        <div class="col-md-12">
                          <div class="col-md-6">

                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="project">Select Project</label>  
                              <div class="col-md-8">
                              <select class="form-control select-md" name="project" id="project">
                              </select>
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="name">Name</label>  
                              <div class="col-md-8">
                              <input id="name" name="name" placeholder="Name" class="form-control input-md" required="" type="text">
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="email">Email</label>  
                              <div class="col-md-8">
                              <input id="email" name="email" placeholder="Email" class="form-control input-md" required="" type="text">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="mobile">Mobile</label>  
                              <div class="col-md-8">
                              <input id="mobile" name="mobile" placeholder="Mobile" class="form-control input-md" required="" type="text">
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="mobile">Feedback</label>  
                              <div class="col-md-8">
                              <textarea id="message" name="message" placeholder="Message" class="form-control input-md" required=""></textarea>
                              </div>
                            </div>
                            
                        </div>
                      </div>
                    </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-success add-label" id="add-feedback" data-pk="">Save</a>
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                </div>
            </div>
           </div>
        </div>
        <!-- #modal-message -->

        <!-- end panel -->
        <div class="modal" id="feedback-details-modal">
            <div class="modal-dialog" style="width: 85%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Feedback Details</h4>
                    </div>
                    <div class="modal-body" style="display: table;">
                      <!-- Start panel -->

                      <div class="panel panel-inverse">

                        <div class="panel-body bg-silver">
                          <div class="col-md-6">

                            <div class="col-md-12 p-10">
                              <div class="col-md-4"><label>Project :</label></div>
                              <div class="col-md-8"><label id="lbl-project"></label></div>
                            </div>

                            <div class="col-md-12 p-10">
                              <div class="col-md-4"><label>Name :</label></div>
                              <div class="col-md-8"><label id="lbl-name"></label></div>
                            </div>

                            <div class="col-md-12 p-10">
                              <div class="col-md-4"><label>Email :</label></div>
                              <div class="col-md-8"><label id="lbl-email"></label></div>
                            </div>

                          </div>

                          <div class="col-md-6">

                            <div class="col-md-12 p-10">
                              <div class="col-md-4"><label>Mobile :</label></div>
                              <div class="col-md-8"><label id="lbl-mobile"></label></div>
                            </div>

                            <div class="col-md-12 p-10">
                              <div class="col-md-4"><label>Message :</label></div>
                              <div class="col-md-8"><label id="lbl-message"></label></div>
                            </div> 
                            
                            <div class="col-md-12 p-10">
                              <div class="col-md-4"><label>Feedback Date :</label></div>
                              <div class="col-md-8"><label id="lbl-created_at"></label></div>
                            </div> 

                          </div>

                        </div>
                      </div>
                      <!-- End panel -->
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- #modal-message -->

    </div>
    <!-- end row -->
{% endblock %}


{% block page_js %}
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static "assets/plugins/gritter/js/jquery.gritter.js"%}"></script>
    <script src="{% static "assets/plugins/DataTables/js/jquery.dataTables.js"%}"></script>
    <script src="{% static "assets/js/apps.js"%}"></script>
    <script src="{% static "assets/js/accounts/expenses/script.js"%}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
{% endblock %}
