<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="{{MEDIA_URL}}{{request.user.profile_photo}}" alt="" /></a>
                </div>
                <div class="info">
                    {{request.user.full_name}}
                    <small>{{request.user.user_category.name}}</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>

            <li {% if menu == "dashboard" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>

            <li {% if menu == "projects" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/projects/"><i class="fa fa-briefcase"></i> <span>Projects</span></a></li>

            <li {% if menu == "plots" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/plots/"><i class="fa fa-th-large"></i> <span>Plots</span></a></li>

            <li {% if menu == "bookings" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/bookings/"><i class="fa fa-bookmark"></i> <span>Bookings</span></a></li>

            <li {% if menu == "customers" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/customers/"><i class="fa fa-user"></i> <span>Customers</span></a></li>

            <li class="has-sub {% if menu == "accounts" %}active{% endif%}"><a href="javascript:void(0);"><i class="fa fa-file-excel-o"></i> <span>Accounts</span><b class="caret pull-right"></b></a>
                <ul class="sub-menu">
                    <li {% if submenu == "dashboard" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/accounts/"><span>Dashboard</span></a>
                    <li {% if submenu == "sales" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/accounts/sales/"><span>Sales</span></a>
                    <li {% if submenu == "expences" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/accounts/expences/"><span>Expences</span></a>
                </ul>
            </li>
            <li {% if menu == "agents" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/agents/"><i class="fa fa-users"></i> <span>Agents</span></a></li>

            <li {% if menu == "feedback" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/feedback/"><i class="fa fa-comments-o"></i> <span>Feedback</span></a></li>

            <li  class="has-sub {% if menu == "reports" %}active{% endif%}"><a href="javascript:void(0);"><i class="fa fa-file-text-o"></i> <span>Reports</span><b class="caret pull-right"></b></a>
                <ul class="sub-menu">
                    <li {% if submenu == "booking" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/reports/booking"><span>Booking</span></a>
                    <li {% if submenu == "sales" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/reports/sales/"><span>Sales</span></a>
                    <li {% if submenu == "commission" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/reports/commission/"><span>Commission</span></a>
                    <li {% if submenu == "expences" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/reports/expences/"><span>Expences</span></a>
                </ul>

            </li>
            {% if request.user.user_category|stringformat:"i" == "admin"|stringformat:"i" %}

            <li class="has-sub {% if menu == "administration" %}active{% endif%}"><a href="javascript:void(0);"><i class="fa fa-cogs"></i> <span>Administration</span><b class="caret pull-right"></b></a>
                <ul class="sub-menu">
                    <li {% if submenu == "settings" %}class="active"{% endif%}><a href="/{{request.user.user_category.slug}}/admin/settings/"><span>Settings</span></a>
                </ul>
            </li>
            {% endif %}

            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>

            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->